sudo: required
language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-28

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository
env : 
  - CODECOV_TOKEN="4dc04613-4fbe-4907-b04a-55ccddcfe822"

before_install:
- chmod +x gradlew
before_script:
 - chmod +x gradlew
script:
- ./gradlew clean build test check 
- ./gradlew jacocoTestReport --stacktrace

after_success:
- bash <(curl -s https://codecov.io/bash)